{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Site header

	Description:

		Site header and navigation.
		Set "header_class" to "alt" in the page frontmatter
		to blend the header with the page.

	Example:

		{% include layout/header.html %}

{% endcomment %}

<!-- Header -->
	<header id="header" class="{{ include.class }}">
           
		<h1><a href="{{ site.baseurl }}/">
                         <!--{% include components/logo-horizontal.html %}-->
                         {% include components/logo-horizontal-svg.html %}
			<!--{{ site.title }} <span>{{ site.tagline }}</span>-->
		</a></h1>
		<nav id="nav">
			<ul>
                            <li><a href="{{ site.baseurl }}/" >Home</a>
                             
                                   
                            </li>
                            <li>
                                    <a href="/what-we-teach/"  class="submenu fa-angle-down">What We Teach</a>
                                    <ul>
                                            <li><a href="/what-we-teach/tai-chi.html">Tai Chi</a></li>
                                            <li><a href="/what-we-teach/qi-gong.html">Qi Gong</a></li>
                                            <li><a href="/what-we-teach/shibashi.html">Shibashi</a></li>
                                            <li><a href="/eight-pieces-of-brocade.html">8 Pieces of Brocade</a></li>
                                           
                                    </ul>
                            </li>
                            <li>
                                <a href="/about-us/" class="submenu fa-angle-down">About Us</a>
                                    <ul>
                                         <li><a href="/about-us/biography.html">About Christie</a></li>
                                        <li><a href="/about-us/cheng-man-ching.html">Cheng Man Ching</a></li>
                                        <li><a href="/about-us/dr-chi.html">Dr Chi</a></li>
                                        <li><a href="/about-us/dr-shen-hongxun.html">Dr Shen Hongxun</a></li>
                                        <li><a href="/about-us/tt-liang.html">TT Liang</a></li>
                                        <li><a href="/about-us/testimonials.html">Testimonials</a></li>
                                        <li><a href="/about-us/professional-standards.html">Professional Standards</a></li>
                                        <li><a href="/about-us/insurance.html">Insurance</a></li>
                                    </ul>
                            </li>
                             <li><a href="/tai-chi-information/" class="submenu  fa-angle-down">Tai Chi Information</a>
                                <ul>
                                    <li><a href="/tai-chi-information/principles-of-tai-chi.html" class=" ">Principles of Tai Chi</a>  </li>
                                    <li><a href="/tai-chi-information/yin-and-yang.html" class=" ">Yin and Yang</a>  </li>
                                    <li><a href="/tai-chi-information/what-is-chi.html" class=" ">What is Chi?</a>  </li>
                                    <li><a href="/tai-chi-information/water-tai-chi-classics.html" class=" ">Water Tai chi Classics</a>  </li>
                                    <li><a href="/tai-chi-information/recommended-reading.html" class=" ">Recommended Reading</a>  </li>
                                    <li><a href="/tai-chi-information/commentaries-on-tai-chi-classics.html" class=" ">Commentaries on Tai Chi Classics</a>  </li>
                                </ul>
                            </li>
                            
                             <li><a href="/benefits-of-tai-chi.html" class="submenu  fa-angle-down">Benefits of Tai Chi?</a>
                                <ul>
                                    <li><a href="/benefits-of-tai-chi/health.html" class=" ">Health</a>  </li>
                                    <li><a href="/benefits-of-tai-chi/relaxation.html" class=" ">Relaxation</a>  </li>
                                    <li><a href="/benefits-of-tai-chi/confidence.html" class=" ">Confidence</a>  </li>
                                </ul>
                            </li>
                             <li><a href="/workplace-tai-chi/" class="submenu  fa-angle-down">Workplace Tai Chi</a>
                                <ul>
                                    <li><a href="/workplace-tai-chi/workplace-services.html" class=" ">Workplace Services</a>  </li>
                                    <li><a href="/workplace-tai-chi/our-clients.html" class=" ">Our Clients</a>  </li>
                                </ul>
                            </li>
                            <li><a href="{{ site.baseurl }}/common-questions.html">Classes & Workshops</a></li>
                            <li><a href="#contact-trigger" class="contact-trigger">Contact</a></li>
                            <!--<li><a href="{{ site.baseurl }}/blog">Blog</a></li>-->
                            <li><a href="{{ site.baseurl }}/how-to-book.html" class="button">Book an Appt</a></li>
			</ul>
		</nav>
	</header>